<div class="container">
  <div>
    <button mat-raised-button class="btn btn-primary " style="margin: 8px; padding: 1rem   ; left: 50%;
    position: relative;"   (click)="openPostForm()">Add Post</button>
  </div>

  <div class="content">
    <ng-container *ngFor="let post of posts; let i = index">
      <div (click)="openDetail(post)" class="card">
        <img [src]="post.id_image" />
        <h2>{{ post.title }}</h2>
        <p>
          {{ post.description }}
        </p>
        <div class="like-container">
          <div>{{ post.nbrlike }} likes</div>
          <div>{{ post.nbrdlike }} dislikes</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
