<section class="section-main bg padding-y">
  <main class="card">
    <div class="card-body">
      <div class="row">
        <aside class="col-lg col-md-3 flex-lg-grow-0">
          <app-menu-category></app-menu-category>
        </aside>
        <div class="col-md-9 col-xl-7 col-lg-7">
          <app-carousel-slider></app-carousel-slider>
        </div>
        <div class="col-md d-none d-lg-block flex-grow-1">
          <app-popular-category></app-popular-category>
        </div>
      </div>
    </div>
  </main>
</section>

<!-- Section deal -->
<section class="padding-bottom">
  <app-products-list></app-products-list>
</section>

<app-home-category></app-home-category>

<app-request-quotation></app-request-quotation>

<app-recommended-items></app-recommended-items>

<app-trade-services></app-trade-services>

<app-regions-list></app-regions-list>

<app-large-banner></app-large-banner>
